<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="bingo" type="Bingo.Infrastructure.Configurations.BingoConfigurationSection,Bingo.Infrastructure"/>
    </configSections>
    <bingo>
        <fileUploads>
            <fileUpload name="userPhoto"
                        savePath="~/uploads/userphotos/"
                        allowedExtensions=".jpg;.png;.gif" maxSize="4096">

                <resolutions>
                    <add key="largest" value="220x220"/>
                    <add key="middle" value="110x110"/>
                    <add key="smaller" value="50x50"/>
                    <add key="smallest" value="26x26"/>
                </resolutions>
            </fileUpload>

            <fileUpload name="projectPhoto"
                        savePath="~/uploads/projectphotos/"
                        allowedExtensions=".jpg;.png;.gif" maxSize="4096">

                <resolutions>
                    <add key="largest" value="220x220"/>
                    <add key="middle" value="110x110"/>
                    <add key="smaller" value="50x50"/>
                    <add key="smallest" value="26x26"/>
                </resolutions>
            </fileUpload>

            <fileUpload name="projectFile"
                        savePath="~/uploads/files/"
                        allowedExtensions=".txt;.doc;.xls" maxSize="4096"/>
        </fileUploads>

        <emailServer templetesFolder="D:\projects\WeiAngels\Production\mailTempletes">
            <emails>
                <email name="accountEmail"
                       defaultEmailAddress="qiushi@163.com" defaultEmailName="qiushiji">
                    <smtpServer
                        host ="smtp.163.com"
                        port="25"
                        userName="qiushiji"
                        useDefaultCredentials="true"
                        password="3031185"
                        deliveryMethod="Network"
                        enableSSL="false"/>
                </email>
                <email name="no-reply"
                       defaultEmailAddress="no-reply@weiangels.org" defaultEmailName="微天使">
                    <smtpServer
                        host ="223.4.85.13"
                        port="25"
                        userName="qiushiji"
                        useDefaultCredentials="true"
                        password="3031185"
                        deliveryMethod="Network"
                        enableSSL="false"/>
                </email>
            </emails>

            <templetes>
                <add key="actionA" value="mail_actionA.xml"/>
                <add key="actionB" value="mail_actionB.xml"/>
                <add key="actionC" value="mail_actionC.xml"/>
                <add key="actionD" value="mail_actionD.xml"/>
                <add key="actionE" value="mail_actionE.xml"/>
                <add key="actionF" value="mail_actionF.xml"/>
                <add key="actionG" value="mail_actionG.xml"/>
                <add key="actionH" value="mail_actionH.xml"/>
                <add key="actionI" value="mail_actionI.xml"/>
                <add key="actionJ" value="mail_actionJ.xml"/>
                <add key="actionK" value="mail_actionK.xml"/>
                <add key="actionL" value="mail_actionL.xml"/>
                <add key="actionM" value="mail_actionM.xml"/>
                <add key="actionN" value="mail_actionN.xml"/>
                <add key="actionO" value="mail_actionO.xml"/>
                <add key="actionP" value="mail_actionP.xml"/>
                <add key="actionQ" value="mail_actionQ.xml"/>
                <add key="actionR" value="mail_actionR.xml"/>
                <add key="actionS" value="mail_actionS.xml"/>
                <add key="actionT" value="mail_actionT.xml"/>
                <add key="actionU" value="mail_actionU.xml"/>
                <add key="actionV" value="mail_actionV.xml"/>
                <add key="actionW" value="mail_actionW.xml"/>
                <add key="actionX" value="mail_actionX.xml"/>
                <add key="actionY" value="mail_actionY.xml"/>
            </templetes>
        </emailServer>
    </bingo>
</configuration>