@charset "utf-8";
/* CSS Document */
.main { height:auto; margin:-1px auto 0 auto; _margin:1px auto 0 auto; padding-bottom:200px; background:#fff; overflow:hidden; }
b.money { color:#588427; }
.personal_info { width:980px; margin:0 auto; line-height:20px; color:#666; font-size:14px;/**padding:10px 0 0 40px!important; _padding:30px 0 0 40px;*/ }
.personal_info h2 { font-size: 33px; overflow:hidden; line-height:33px; height:33px; }
.personal_info_link { color:#222;}
.personal_info_link:hover { color:#777;}
.personal_info .title_link {color:#666;}
.personal_info .title_link:hover {color:#333; text-decoration:underline;}
.submenu { height:136px; *height:auto;
background:#ebede1; border-bottom:1px solid #cdcdcd; padding-top:20px; _padding-top:30px; }
.submenu_login { background:#ebede1 url(../images/project_submenu_bg.gif) repeat-x; }
.submenu ul { width:980px; margin:12px auto 0 auto; margin-top:13px\9; height:36px; }
.submenu ul li { height:36px; line-height:36px; background:#55a4f2; margin:0 1px; float:left; display:inline-block; position:relative; top:0px; _top:1px; }
.submenu ul li span { width:46px; _height:19px; margin-left:10px; _line-height:36px; color:#fff; background:url(../images/lmr.gif) no-repeat center center; _background:url(../images/lmr.gif) no-repeat center 7px; text-align:center; display:inline-block; }
.submenu ul li:hover {background:#1071d1;}
.submenu ul li:hover span {background:url(../images/lmr2.gif) no-repeat center center;}
.submenu ul li a { height:36px; font-weight:bold; display:inline-block; line-height:36px; padding:0px 10px; color:#fff; }
.submenu ul li.current { background:#fff; border:1px solid #cdcdcd; border-bottom:0; }
.submenu ul li.current a { color:#55a4f2; }
li.current2 { position:relative; top:-5px; z-index:100; }
li.current2 a { background:url(../images/personal_tab.png) no-repeat; width:110px; height:37px; display:block; text-align:center; line-height:37px; color:#fff; font-size:16px; font-weight:bold; }
.email_subcr_tips { display:none; position:absolute; background:#292929; width:225px; height:30px; top:-65px; left:0px; color:#FFF; padding:10px; line-height:14px; font-size:13px; border-radius:5px; }
.email_subcr_tips .span { display:block; background:url(../images/icon-sprite.png) -40px -110px no-repeat; width:16px; height:6px; position:relative; top:12px; left:5px; }
.email_subcr_input { width:132px; height:23px; line-height:23px; _margin-bottom:-1px; padding-left:5px; padding-right:5px; }
.email_subcr_button { width:95px; height:25px; cursor:pointer; vertical-align:middle; background:url(../images/email_subcr_button.png) no-repeat; border:0; }
.email_subcr_button2 { width:95px; height:25px; cursor:pointer; vertical-align:middle; background:url(../images/email_subcr_button2.png) no-repeat; border:0; }
.mainbody { width:980px; margin:0 auto; padding-top:20px; height:auto; }
.mainleft { width:560px; height:auto; float:left; }
.project_play { width:560px; height:460px; background:#333; }
.mainleft h4 { border-bottom:1px dotted #333; padding:20px 0 5px 10px; font-size:13px; }
.mainleft h3 { border-bottom:1px dotted #333; padding:5px 0; font-size:18px; }
.project_desc { padding:10px 0 10px 10px; line-height:20px; color:#666; font-size:13px; text-align:justify; text-justify:inter-ideograph; }
.project_faq { padding:10px 0; font-size: 13px;}
.faq { padding:5px 0; color:#55a4f2; margin-left:10px; }
.faq_content { width:540px; background:#E3F0FD; border-radius:5px; padding:10px; line-height:20px; margin-bottom:10px; display:none; }
.ask { width:540px; height:46px; background:url(../images/ask.gif) no-repeat; margin-top:10px; margin-bottom:20px; padding:10px; overflow:hidden; }
.ask a.link_sendmes {width:68px; height:36px; background:url(../images/ask_button.gif) no-repeat; display:inline-block; text-align:center; line-height:36px; margin-top:5px; margin-right:5px; color:#fff;float:right;}
.ask a.link_sendmes:hover {background:url(../images/ask_button.gif) 0 -40px no-repeat;}
a.ask_link { width:68px; height:36px; background:url(../images/ask_button.gif) no-repeat; display:inline-block; text-align:center; line-height:36px; margin-left:10px; color:#fff; }
a.link_feedback span {background:url(../images/icon-sprite.png) 0 -340px no-repeat; display:inline-block; width:14px; height:12px; margin-right:5px; vertical-align:middle;}
hr.border_bottom { border:1px solid #000; margin-bottom:10px; }
.mainright { width:370px; height:auto; float:right; margin-left:30px; position:relative; }
.project_meta { font-size:14px; padding:15px 30px 10px; font-weight:bold; color:#333; }
.project_meta b { font-size:48px; line-height:47px; margin-right:5px; }
.project_meta p { }
.project_notice { width:350px; height:39px; background:url(../images/aaaaa.gif) no-repeat; position:relative; _position:absolute; left:-10px; color:#fff; padding:20px; line-height:16px; margin-top:10px; }/*IE6 position:relative会占用容器，而不会像absolute那样浮动在第二层而不占用容器*/
.project_notice1 { width:330px; height:56px; padding:20px; background:#a3ff51; line-height:25px; }
.project_notice1 p { float:left; font-weight:bold; font-size:13px; color:#333; } /*7.28*/
.project_notice1 img { float:right; margin-top:10px; margin-right:40px; } /*7.28*/
.project_notice2 { width:330px; height:56px; padding:20px; background:#f7c735; line-height:25px; }
.project_notice2 p { float:left; font-weight:bold; font-size:13px; color:#333; } /*7.28*/
.project_notice2 img { float:right; margin-top:10px; margin-right:10px; } /*7.28*/
.project_notice1 .project_tip, .project_notice2 .project_tip {font-size:18px;}
	
.share_widget { width:330px; padding:20px; position:relative; /*margin-top:20px;*/ _top:120px; }
a.widget_link { width:180px; height:30px; text-align:center; background:url(../images/widget_bg.png) no-repeat; line-height:30px; display:block; color:#333; font-weight:bold; }
.share_link { margin:10px 0; }
.support { width:330px; position:relative; padding:20px; _top:130px; background:#e9e9e9; border-bottom:1px solid #ccc; margin-bottom: 1px; }
.support_list { width:330px; position:relative; padding:20px; font-size:14px; cursor:pointer; _top:150px; background:#e9e9e9; border-bottom:1px solid #ccc; margin-bottom: 1px; text-align:justify; text-justify:inter-ideograph; }
.support:hover, .support_list:hover { background:#e0e0e0; }
.support_list b { font-size:18px; }
.support_list p { padding:10px 0; font-size:12px; }
.user_panel { width:370px; padding:20px 0; position:relative; font-size:12px; background:#fff; _top:150px; border-top:2px solid #333; margin-top:-1px; }
.user_panel b { font-size:12px; color:#55a4f2; }
.user_panel h4 { border-bottom:1px dotted #333; padding:10px 0; font-size:13px; margin-bottom:10px; }
.user_avatar { width:80px; height:80px; background:#333; float:left; margin-right:10px; }
.user_desc { clear:both; padding:20px 0; border-bottom:2px solid #000; line-height:20px;text-align:justify; text-justify:inter-ideograph; }
.rss { text-align:right; display:block; font-weight:bold; }
b.date { font-weight:normal; font-size:13px; color:#999; }
b.green { color:#5BC73E; font-size:13px; }
b.support_only { color:#5BC73E; font-size:16px; }
b.support_start { font-size:13px; }
.update_item { margin:0 0 30px 0; }
.update_content { padding:10px 0; line-height:20px; margin:20px 0; font-size:12px; color:#666; width:560px; overflow:hidden; }
.update_content h4 { border: none !important; font-size:12px !important; padding:0 !important;}
ul.comment_list { margin:20px 0; }
ul.comment_list li { background:#E3F0FD; color:#55a4f2; line-height:20px; padding:10px; margin:1px 0; }
ul.comment_list li.hover { background:#C3DFFB; cursor:pointer; }
.personal_avatar_medium { width:40px; height:40px; float:left; background:#333; margin-right:10px; margin-top:5px; position:relative; }
.weiangle { position:relative; top:-30px; left:290px; }
.project_meta2 { position:relative; top:-101px; margin-bottom:-100px; }
.manage_promiss { width:154px; height:64px; display:block; background:url(../images/154x64btnbg.gif) no-repeat; line-height:65px; color:#fff; font-weight:bold; text-align:center; font-size:16px; }
.manage_promiss:hover {}
.update_comment { margin:10px 0; }
.comment_box { width:542px; height:69px; margin:10px 0 10px 0; padding:10px; overflow:hidden; }
.comment_submit { width:110px; height:36px; line-height:36px; background:url(../images/login_button.gif) no-repeat; border:0; color:#fff; font-weight:bold; cursor:pointer; }
.supportor_list { font-size:13px; }
ul.supportor_list li { color:#888; margin-bottom:10px; padding-bottom:10px; line-height:18px; border-bottom:1px dotted #cbcbcb; }
span.addr { font-size:13px; color:#888; }
.protubiao {position:absolute; background:url(../images/weiangle.png) no-repeat; width:70px; height:50px; padding:25px 15px; top:-18px; left:290px; font-size:16px; color:#FFF; text-align:center; font-weight:bold;}
.dialog_feedback, .dialog_sendmes { display: none; position: fixed; z-index:999; top:0px; left:200px; text-align:left; border:10px solid #999; border-radius:8px; width:600px; background:#FFF; }

*html .dialog_sendmes { position:absolute; top:expression(eval(document.documentElement.scrollTop + (document.documentElement.clientHeight - this.clientHeight) / 2));
 left:expression(eval(document.documentElement.scrollLeft + (document.documentElement.clientWidth - this.clientWidth) / 2));
}
/*兼容IE6浮动*/
*html .dialog_feedback { position:absolute; top:expression(eval(document.documentElement.scrollTop + (document.documentElement.clientHeight - this.clientHeight) / 2));
 left:expression(eval(document.documentElement.scrollLeft + (document.documentElement.clientWidth - this.clientWidth) / 2));
}
.feedback_head, .sendmes_head { background-color: #E8E8E8; height:52px; font-size:14px; font-weight:bold; line-height:52px; }
.feedback_title, .sendmes_title { float:left; display:inline; text-indent:1em; }
.feedback_head .close, .sendmes_head .close { float:right; display:inline; margin-right:17px; cursor:pointer; color: #999999; }
.feedback_content, .sendmes_content { font-weight:bold; padding:0px 15px; position:relative; }
.feedback_content ul, .sendmes_content ul {padding-top: 20px;}
.feedback_content ul li, .sendmes_content ul li {border-top:1px #999 dotted; clear:both; padding-top:5px;}
.feedback_content p, .sendmes_content p { width:540px;}
.feedback_content p.con {color:#999; margin-bottom: 10px; font-weight:normal; margin-left:20px;}
p.rad_p input { vertical-align:middle;}
p.rad_p label { vertical-align:middle; margin-left:5px;}
.feedback_text, .sendmes_text { width:557px; height:40px; padding:5px;}
.feedback_input, .sendmes_input {margin-top: 20px; background: #e3f1fe; padding: 20px;}
.feedback_button, .sendmes_button {border:none; border-radius:5px; background:#55a4f1; color:#FFF; width:100px; height:30px; line-height:30px; font-weight:bold; cursor:pointer;}
.feedback_button:hover, .sendmes_button:hover {background:#0099ff;} 
/*Footer*/
.footer { height:309px; margin:0 auto; background:#fff url(../images/footer_bg2.gif) repeat-x; }