@charset "utf-8";
/* CSS Document */
.main { height:auto; margin:-1px auto 0 auto; padding-bottom:200px; background:#fff; }
b.money { color:#588427; }
.personal_info { width:920px; margin:0 auto; line-height:20px; padding:10px 0 0 40px; /**padding:10px 0 0 40px!important; _padding:30px 0 0 40px;*/ position:relative; left:200px; }
.personal_info h2 { font-size: 22px; }
.submenu { height:128px; *height:auto; background:#ebede1; border-bottom:1px solid #cdcdcd; padding-top:20px; _padding-top:30px; }
.submenu_login { background:#ebede1 url(../images/project_submenu_bg.gif) repeat-x; }
.submenu ul { width:930px; margin:10px auto 0 auto; padding-left:30px; height:36px; position:relative; left:230px; }
.submenu ul li { height:36px; line-height:36px; background:#55a4f2; margin:0 1px; float:left; display:inline-block; position:relative; top:0px; _top:1px; }
.submenu ul li span { width:46px; _height:19px; margin-left:10px; _line-height:36px; color:#fff; background:url(../images/lmr.gif) no-repeat center center; _background:url(../images/lmr.gif) no-repeat center 7px; text-align:center; display:inline-block; }
.submenu ul li a { height:36px; font-weight:bold; display:inline-block; line-height:36px; padding:0px 10px; color:#fff; }
.submenu ul li.current { background:#fff; border:1px solid #cdcdcd; border-bottom:0; }
.submenu ul li.current a { color:#55a4f2; }
li.current2 { position:relative; top:-5px; z-index:100; }
li.current2 a { background:url(../images/personal_tab.png) no-repeat; width:110px; height:37px; display:block; text-align:center; line-height:37px; color:#fff; font-size:16px; font-weight:bold; }
li.current3 { top:-7px; }
.mainbody { width:980px; margin:0 auto; }
.mainbody .personal_sidebar { width:220px; float:left; position:relative; top:-120px; }
.personal_avatar { width:220px; height:220px; background:#333; }
.personal_setting a { width:220px; height:44px; line-height:44px; text-align:center; margin-top:10px; color:#fff; font-weight:bold; background:url(../images/personal_setting.gif) no-repeat; display:block; }
.personal_info_desc { padding:10px 0; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; margin-top:10px; }
.personal_website { padding:10px 0; border-bottom:1px solid #e6e6e6; margin-top:10px; }
.sina_weibo { width:220px; height:551px; background:#333; margin-top:10px; }
.mainbody .personal_info_list { width:720px; height:auto; float:left; padding:20px 0 0 40px; }
.personal_info_list h3 { font-size:19px; padding:10px 0; border-bottom:1px solid #999; }
.personal_info_list h3 span { font-size:13px; color:#999; float:right; padding-left:140px; position:relative; top:5px; }
table td { border-bottom:1px solid #999; padding:20px 0; font-weight:bold; text-align:center; }

.comment_list { clear:both; height:auto; overflow:hidden; }
.comment_list h4 { margin-bottom:10px }
.comment_list li { padding:20px 0; border-bottom:1px solid #999; clear:both; height:auto; overflow:hidden; zoom:1; }
.comment_list li img { float:left; }
.comment { float:left; margin-left:20px; line-height:20px; }

.comment_panel { width:604px; height:308px; background:url(../images/comment_bg.gif) no-repeat; margin-top:40px; padding:20px; }
.comment_panel h3 { border:0; padding:0; margin:0; }
.comment_textarea { width:603px; height:194px; border:1px solid #ccc; margin-top:10px; }
.okcomment { width:73px; height:27px; background:url(../images/a_bg.gif) no-repeat; border:0; text-align:center; font-weight:bold; color:#fff; cursor:pointer; }

/*Footer*/
.footer { height:309px; margin:0 auto; background:#fff url(../images/footer_bg2.gif) repeat-x; }
